@charset "utf-8";
/* CSS Document */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family:"微软雅黑";
}
html { height: 101%; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ol, ul { list-style: none; }

blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
strong { font-weight: bold; }

table { border-collapse: collapse; border-spacing: 0; }
img { border: 0; max-width: 100%; }

/*头部*/
#header {
    background: #fff;
    border-bottom: 1px solid #eae9e8;
    box-shadow: 5px 0 5px #eae9e8;
    padding-top: 10px;
    padding-bottom: 10px;
}

#header img {
    height: 60px;
}

.font-red {
    color: #f00;
}

#gray-footer {
    background: #efefef;
    border-top: 1px solid #eae9e8;
    box-shadow: -5px 0 5px #eae9e8;
    padding-top: 10px;
    padding-bottom: 10px;
}

#gray-footer h3 {
    margin-top: 1em;
    margin-bottom: 5px;
}


#gray-footer li>p {
    text-align: center;
    color: #7f7f7f;
    margin-top: 1em;
    margin-bottom: 1em;
}

#gray-footer li {
    float: left;
    color: #9f9f9f;
    padding: 5px 20px 0px 0px;
    font-size:11px;
}

